* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Roboto", sans-serif;
}

/* header start */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  padding: 15px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left img {
  width: 100px;
  margin-left: 15px;
}

.header i {
  padding: 0px 7px;
  cursor: pointer;
}

.material-icons {
  color: rgb(96, 96, 96);
}

.header-search form {
  border: solid 1px #ddd;
  height: 35px;
  margin: 0;
  padding: 0;
  display: flex;
}

.header-search input {
  width: 500px;
  padding: 10px;
  margin: 0;
  border-radius: 0;
  border: none;
  outline: none;
}

.header-search button {
  padding: 0;
  margin: 0;
  height: 100%;
  border: none;
  border-radius: 0px;
}

/* header End */

/* section main body start*/

.main-body {
  height: calc(100vh - 70px);
  display: flex;
  overflow: hidden;
}

.menubar {
  height: 100%;
  width: 240px;
  background-color: white;
  overflow-y: scroll;
}

.menubar-categories {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.menubar-categorie {
  display: flex;
  align-items: center;
  padding: 12px 25px;
}

.menubar-categorie span {
  margin-left: 15px;
  font-size: 16px;
}

.menubar-categorie:hover {
  background-color: #e5e5e5;
  cursor: pointer;
}

.menubar::-webkit-scrollbar {
  display: none;
}

hr {
  height: 1px;
  background-color: #e5e5e5;
  border: none;
}

/* section main body start*/

/*videos*/

.videos {
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  padding: 15px 25px;
  border-bottom: 1px solid #ddd;
  overflow-y: scroll;
}

.video-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.video {
  width: 262px;
  margin-right: 11px;
  margin-bottom: 30px;
}

.video-thumbnail {
  width: 100%;
  height: 145px;
}

.video-thumbnail img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.author img {
  object-fit: cover;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.video-details {
  display: flex;
  margin-top: 10px;
}

.titel {
  display: flex;
  flex-direction: column;
}

.titel h3 {
  color: rgb(3, 3, 3);
  line-height: 10px;
  font-size: 14px;
  margin-bottom: 6px;
}

.titel a,
span {
  text-decoration: none;
  color: rgb(96, 96, 96);
}

h1 {
  font-size: 20px;
  margin-bottom: 10px;
  color: rgb(3, 3, 3);
}
