* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Roboto", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #999797;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999797;
}

/* header start */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  padding: 15px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left img {
  width: 100px;
  margin-left: 15px;
}

.header i {
  padding: 0px 7px;
  cursor: pointer;
}

.material-icons {
  color: rgb(96, 96, 96);
}

.header-search form {
  border: solid 1px #ddd;
  height: 35px;
  margin: 0;
  padding: 0;
  display: flex;
}

.header-search input {
  width: 500px;
  padding: 10px;
  margin: 0;
  border-radius: 0;
  border: none;
  outline: none;
}

.header-search button {
  padding: 0;
  margin: 0;
  width: 75px;
  height: 100%;
  border: none;
  border-radius: 0px;
}

/* header End */

/* section main body start*/

.main-body {
  height: calc(100vh - 70px);
  display: flex;
  overflow: hidden;
}

.menubar {
  height: 100%;
  width: 240px;
  background-color: white;
  overflow-y: scroll;
}

.menubar-categories {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.menubar-categorie {
  display: flex;
  align-items: center;
  padding: 12px 25px;
}

.menubar-categorie span {
  margin-left: 15px;
  font-size: 16px;
}

.menubar-categorie:hover {
  background-color: #e5e5e5;
  cursor: pointer;
}

.menubar-categorie img {
  border-radius: 100%;
  width: 26px;
  height: 26px;
}

.menubar-head h4 {
  font-size: 15px;
  color: rgb(96, 96, 96);
  margin: 15px 0 10px 25px;
}

.menubar::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.menubar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.menubar::-webkit-scrollbar-thumb {
  background: white;
}

/* Handle on hover */
.menubar::-webkit-scrollbar-thumb:hover {
  background: #e5e5e5;
}

hr {
  height: 1px;
  background-color: #e5e5e5;
  border: none;
  margin: 10px 0;
}

/* section main body start*/

/*videos*/

.videos {
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #ddd;
  overflow-y: scroll;
}

.videos-head {
  display: flex;
  background-color: #fff;
  padding: 10px 0;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  margin-bottom: 10px;
}

.videos-head span {
  background-color: #f1f0ef;
  color: black;
  display: block;
  padding: 5px 20px;
  font-size: 14px;
  margin: 0 5px;
  border-radius: 999px;
  border: 1px solid lightgray;
}

.video-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px 25px 15px 25px;
}

.video {
  width: 262px;
  margin-right: 11px;
  margin-bottom: 30px;
}

.video-thumbnail {
  width: 100%;
  height: 145px;
}

.video-thumbnail img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.author img {
  object-fit: cover;
  border-radius: 50%;
  height: 38px;
  width: 38px;
  margin-right: 10px;
}

.video-details {
  display: flex;
  margin-top: 10px;
}

.title {
  display: flex;
  flex-direction: column;
}

.title h3 {
  color: rgb(3, 3, 3);
  line-height: 17px;
  font-size: 14px;
  margin-bottom: 6px;
}

.title a,
span {
  text-decoration: none;
  color: rgb(96, 96, 96);
  font-size: 14px;
}

h1 {
  font-size: 20px;
  margin-bottom: 10px;
  color: rgb(3, 3, 3);
}

@media (max-width: 425px) {
  .header-search {
    display: none;
  }

  .header-icons .material-icons {
    display: none;
  }

  .header-icons .display-this {
    display: inline;
  }

  .menubar {
    display: none;
  }

  .videos-head {
    display: none;
  }
}

@media (max-width: 768px) {
  .header-search {
    display: none;
  }

  .menubar {
    display: none;
  }

  .show-menubar {
    display: inline;
    position: fixed;
    top: 4.4rem;
    height: auto;
  }

  .videos-head {
    display: none;
  }
}

@media (max-width: 941px) {
  .header-search input {
    width: 300px;
  }

  .videos-head {
    display: none;
  }
}
