*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #eff2f5;
}

.header-left img{
    height: 40px;
}

.user-img{
    width: 45px;
    border-radius: 50%;
}

.head-top{
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top:0px;
    background-color: white;
    z-index: 100;
    box-shadow:0 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.header-left{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-input {
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;
  }
  
.header-input input {
    border: none;
    background-color: transparent;
    outline-width: 0;
}


.header-mid{
    display: flex;
    flex: 1;
    justify-content: center;
}

.header-option .material-icons{
    font-size: xx-large;
    color: gray;
}


.header-option .material-icons:hover{
    color: #2e81f4;
}

.header-option .active{
    color: #2e81f4;
    border-bottom: #2e81f4 solid 4px ;
}

.header-option{
    display: flex;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
}

.header-option:hover{
    background-color: #eff2f5;
    border-radius: 10px;
    align-items: center;
    padding: 0 30px;
    border-bottom: none;
}

.header-info{
    display: flex;
    align-items: center;
}

.header-info h4{
    margin-left: 10px;
}

.header-right{
    display: flex;
    align-items: center;
}

.header-right .material-icons{
    color: gray;
    margin: 0 10px;
    cursor: pointer;
}

/* sidebar */

.sidebarRow{
    display: flex;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    align-items: center;
}

.sidebarRow:hover{
    background: lightgray;
    border-radius: 10px;
}

.sidebarRow h4{
    margin-left: 20px;
    font-weight: 600;
}

.sidebarRow .material-icons{
    font-size: xx-large;
    color: #2e81f4;
}

/* end sidebar */

/* feed start */
/* story start */
.story{
    position: relative;
    background: no-repeat;
    background-size: cover;
    width: 120px;
    height: 200px;
    box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: tranform 100ms ease-in-out;
}


.story:hover{
    transform: scale(1.08);
}

.story-avtar{
    margin: 10px;
}

.storyReel h4{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
}

.storyReel{
    padding: 10px 0;
    display: flex;
}
/* story end */

.feed{
    flex: 1;
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar{
    padding: 25px 10px;
    flex: 0.33;
}

/* feed end */

.main-section{
    display: flex;
}


/* messageSender */

.messageSender{
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: white;
    margin-top: 30px;
    border: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}   

.messageSender-top{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eff2f5;
    padding: 15px;
}

.messageSender-top form{
    display: flex;
    flex: 1;
}

.messageSender-top form input{
    flex: 1;
    outline-width: 0;
    border: none;
    padding: 15px 20px;
    margin: 0 10px;
    border-radius: 100px;
    background-color: #eff2f5;
}

.messageSender-bottum{
    display: flex;
    justify-content: space-evenly;
}

.messageSender-option{
    padding: 8px;
    display: flex;
    align-items: center;
    color: gray;
    margin: 5px;
}

.messageSender-option h3{
    font-size: medium;
    margin-left: 10px;
}

.messageSender-option:hover{
    cursor: pointer;
    background-color: #eff2f5;
    border-radius: 20px;
}


/* Post section strat */


.post{
    width: 100%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}

.post-image img{
    width: 100%;
}

.post-top{
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
}

.post-user-img{
    margin-right: 10px;
}

.post-info h3{
    font-size: medium;
}

.post-info p{
    font-size: small;
    color: gray;
}

.post-bottum{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 25px;
}

.post-options{
    padding: 10px;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color: gray;
    cursor: pointer;
    padding: 15px;
}

.post-option{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 1;
}

.post-option p{
    margin-left: 10px;
}

.post-option:hover{
    background-color: #eff2f5;
    border-radius: 10px;
}

/* Post section end */


@media (max-width: 768px) {
    .sidebar{
        display: none;
    }
    .header-input input{
        display: none;
    }
    .header-mid{
        display: none;
    }
    .header-info{
        display: none;
    }

    .widgets{
        display: none;
    }
    
    .feed{
        margin-top: 20px;
        width: 100%;
        padding: 0px;
    }

    .story h4{
        font-size: 10px;
    }

    .story img{
        width: 40px;
    }
}


@media (min-width:76px) and (max-width:1440px){
    .feed{
        width: 50%;
        padding: 10px 50px;
    }
}

@media (min-width: 320px) {
    .storyReel{
        width: 100%;
        overflow-x: scroll;
    }
}















